# Database
POSTGRES_DB=BookMe
POSTGRES_USER=BookMe
POSTGRES_PASSWORD=bookme_pass

# Spring Boot
DB_URL=jdbc:postgresql://db:5432/BookMe
DB_USERNAME=BookMe
DB_PASSWORD=bookme_pass

# JWT (change this to a long random string in production)
JWT_SECRET=thisIsMysecregtfrdesww233eggtffeeddgkjjhhtdhttebd54ndhdhfhhhshs8877465sbbdd
#JWT_SECRET=bookme_super_secret_key_change_this_in_production
JWT_EXPIRY_MS=86400000